
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 12px;
    margin-right: 24px;
    width: 100%;
}

.search-bar form {
    display: flex;
  }
  
 .search-bar button {
    background: #17f;
    color: #fff;
    font: inherit;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px 24px;
  }

 .search-bar button:active {
    background-color: #05b;
  }
 .search-bar input {
    border: 2px solid #999;
    border-radius: 3px;
    font: inherit;
    padding: 10px;
    outline: none;
    margin-right: 12px;
    width: 42vw;
  }
  
 .search-bar input:focus {
    outline: auto #17f;
  }


@media only screen and (max-width: 580px){
    .search-bar input{
        width: 54vw;
        height: 12px;
        margin-right: 8px;
    }
    
    .search-bar button {
        padding: 8px 8px;
    }
}